<div *ngIf="showManufacturer; else loading" class="manufacturer-details">
  <h2>{{ showManufacturer.name }}</h2>
  <ul>
    <li>Land: {{ showManufacturer.country }}</li>
  </ul>

  <a
    [routerLink]="[
      '/',
      {
        outlets: {
          left: ['update', 'manufacturer', showManufacturer._id],
          right: ['discs', showManufacturer._id]
        }
      }
    ]"
  >
    <button>Redigera tillverkare</button>
  </a>
</div>

<ng-template #loading>
  <p>Laddar disc-data...</p>
</ng-template>
