<h2>Skapa ny disc</h2>



<form (ngSubmit)="onSubmit()" #discForm="ngForm">

    <select name="manufacturerId" aria-label="Select manufacturer" [(ngModel)]="disc.manufacturer" required>
        <option *ngFor="let m of manufacturers" [value]="m._id">
          {{ m.name }}
        </option>
      </select>

    <input type="text" name="title" [(ngModel)]="disc.title" placeholder="Title" required/>

    <label for="typeSelect">Type:</label>
    <select id="typeSelect" name="type" [(ngModel)]="disc.type" required>
        <option [ngValue]="'Distance Driver'">Distance Driver</option>
        <option [ngValue]="'Driver'">Driver</option>
        <option [ngValue]="'Mid-Range'">Mid-Range</option>
        <option [ngValue]="'Putter'">Putter</option>
    </select>

    <label for="speed">Speed:</label>
    <input id="speed" type="number" name="speed" [(ngModel)]="disc.speed" required />

    <label for="glide">Glide:</label>
    <input id="glide" type="number" name="glide" [(ngModel)]="disc.glide" required />

    <label for="fade">Fade:</label>
    <input id="fade" type="number" name="fade" [(ngModel)]="disc.fade" required />

    <label for="turn">Turn:</label>
    <input id="turn" type="number" name="turn" [(ngModel)]="disc.turn" required />
  
    <button type="submit">Lägg till Disc</button>
  </form>

  <div *ngIf="updateMessage" class="flash-message">
  {{ updateMessage }}
  </div>
  