<h2>Skapa ny disc</h2>

<form (ngSubmit)="onSubmit()" #discForm="ngForm">

    <select name="manufacturerId" aria-label="Select manufacturer" [(ngModel)]="disc.manufacturer" required>
        <option *ngFor="let m of manufacturers" [value]="m._id">
          {{ m.name }}
        </option>
      </select>

    <input type="text" name="title" [(ngModel)]="disc.title" placeholder="Title" required/>

    <label for="typeSelect">Type:</label>
    <select id="typeSelect" name="type" [(ngModel)]="disc.type" required>
        <option [ngValue]="'Distance Driver'">Distance Driver</option>
        <option [ngValue]="'Driver'">Driver</option>
        <option [ngValue]="'Mid-Range'">Mid-Range</option>
        <option [ngValue]="'Putter'">Putter</option>
    </select>

    <input type="number" name="speed" [(ngModel)]="disc.speed" placeholder="Speed" required/>
    <input type="number" name="glide" [(ngModel)]="disc.glide" placeholder="Glide" required/>
    <input type="number" name="fade" [(ngModel)]="disc.fade" placeholder="Fade" required/>
    <input type="number" name="turn" [(ngModel)]="disc.turn" placeholder="Turn" required/>
  
    <button type="submit">Lägg till Disc</button>
  </form>
  